{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span> Welcome to the </span> Pizza Shop</h1>
            </div>

            {% for housePizza in housePizzas %}
                {#{% include'pizza/pizza.html.twig' with {'pizza': housePizza} %}#}
            {% endfor %}

            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title"> Your hardcoded order is a fun pizza with: {{ hardCodedOrder.getIngrediensDescripcion() }}</h3>
                    <h3 class="panel-title"> Price: {{ hardCodedOrder.getPrice() }} </h3>
                </div>
            </div>

            <p class="text-info">In the future you will be able to submit a bunch of ingredients and we'll use the PizzaBuilder to easily decorate the pizza for you!</p>

            <form>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Some ingredient
                    </label>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>


        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
</style>
{% endblock %}
